name: GET PR link 
on:
  push:
    branches:
      Pr_main
jobs:
  Run_Selected_Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: kceb/pull-request-url-action@v1
        id: pr-url

      - run: echo "${{ steps.pr-url.outputs.url }}"
